.main-content {
    gap: 1rem
}

.map-container {
    width: 50%;
    height: 450px;
}

.buttons-container {
    width: 50%;
}

.weather-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    height: 50%;
    align-items: center;
}