.modal {
    height: 250px;
    width: 350px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.952);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.modal.hide {
    top: 0;
    left: 0;
    transform: translate(-100%, -100%);
}

.location-name-input {
    margin-bottom: 1rem;
}

.btn-cancel {
    margin-inline-start: .5rem;
    background-color: rgb(78, 11, 11);
}